.cash-back h2 {
    font-size: 40px;
    line-height: 1.08;
    font-family: Montserrat, system-ui, sans-serif;
  }
  .cash-back p {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    font-family: Montserrat, system-ui, sans-serif;
    line-height: 1.32;
    font-weight: 500;
    font-size: 19px;
    color: rgba(235, 235, 245, 0.6);
    max-width: 550px;
    margin-bottom: 120px;
    margin-top: 12px;
  }
  .partners h2 {
    box-sizing: border-box;
    margin: 0px 0px 64px;
    min-width: 0px;
    font-family: Montserrat, system-ui, sans-serif;
    line-height: 1.32;
    font-weight: 700;
    font-size: 40px;
    word-break: break-word;
  }
  .merchant{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 200px;
    width: 100%;
  }
  .img-area{
    margin-left: 2rem;
  }
  .content-area{
    width: 50%;
  }
  @media (max-width: 820px) {
    .content-area{
      width: 100% !important;
    }
  }
  .merchant .content-area .box-heading {
    box-sizing: border-box;
    margin: 0px 0px 16px;
    font-weight: 700;
    word-break: break-word;
    font-family: Montserrat, system-ui, sans-serif;
    line-height: 1.32;
    font-weight: 700;
    font-size: 40px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    height: 100%;
  }
  .Ist-content {
    box-sizing: border-box;
    margin: 12px 0px 16px;
    min-width: 0px;
    font-family: Montserrat, system-ui, sans-serif;
    line-height: 1.32;
    font-weight: 500;
    font-size: 19px;
    color: rgba(235, 235, 245, 0.6);
  }
  .IInd-content {
    box-sizing: border-box;
    margin: 12px 0px 32px;
    min-width: 0px;
    font-family: Montserrat, system-ui, sans-serif;
    line-height: 1.32;
    font-weight: 500;
    font-size: 19px;
    color: rgba(235, 235, 245, 0.6);
    max-width: 550px;
  }
